/*for navigation bar*/
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	border-radius: 8px;
}

li {
	float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D3D3D3;
  color: #000;
}

/*for the game*/
.game1 {
	text-align: center;
}

h3{
	text-align: center;
}